/*top right bottom left*/
body{
    background-color: #ccc;
    background: url("../img/bg.png") repeat scroll 0 0 transparent;
    text-align: center;
}

#terminal-wrapper {
    display: inline-block;
    background-color = rgba(0, 0, 0, 0.10);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
    border: 1px solid #006DCC;
    border-radius: 3px;
    padding: 3px 3px 0 3px;
    min-height: 630px;
    max-height: 630px;
    height: 630px;
}
#terminal-view {
    text-align: left;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    min-height: 627px;
    max-height: 627px;
    height: 627px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: inline-block;
}

#terminal {
    background-color: inherit;
    font-family: 'Ubuntu Mono', 'monospaced';
    font-size: 16pt;
    min-width: 990px;
    max-width: 990px;
    width 990px;
    line-height: 25px;
    min-height: 625px;
    border: 0;
    padding: 1px 4px 1px 4px;
    margin: 0 0 0 0;
    overflow: hidden;
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.25);
}

.user{color: #363636;}
.domain{color: #FAA732;}
.domain:after{color: #00F;}
.cmd{color: #666;}
.command{color: #006DCC;}
.output{color: sienna;}
.at:before{content: "@";}
h1{ color: #333; }
h3{
    color: #5A5A5A;
    font-style: italic;
}
a{
    text-decoration: none;
    color: inherit;
}
