<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta name="author" content="Martin Brugnara">

        <meta name="keywords" content="Martin Brugnara, databases, Oracle, Oracle Labs, Oracle Labs Zurich, dbTrento, University of Trento, data science, data mining, data profiling, data exploration, DMBCAU.">
        <meta name="robots" content="{{ page.robots | default: 'index,follow' }}">

        <link rel="icon" href="/assets/images/favicon.ico">
        <link rel="stylesheet" href="/assets/css/styles.css">

        {% seo %}
    </head>
    <body>
        {% include navigation.html %}
        {{ content }}

        <script>
            (function() {
                var script = document.createElement('script');
                window.counter = 'https://martinbrugnara_it.goatcounter.com/count'
                script.async = 1;
                script.src = '//gc.zgo.at/count.js';

                var ins = document.getElementsByTagName('script')[0];
                ins.parentNode.insertBefore(script, ins)
            })();
        </script>
    </body>
</html>
